language: node_js
before_script:
  - npm install -g gatsby-cli
node_js:
  - "12.16"
deploy:
  provider: script
  script:
    - yarn install && yarn build && yarn deploy && yarn deploy:coding
  skip_cleanup: true
  on:
    branch: gatsby
