.line-numbers .line-numbers-rows {
  top: 0.5em;
  left: 1em;
}

figcaption.gatsby-resp-image-figcaption {
  text-align: center;
  font-style: italic;
  color: grey;
}

code[class*="language-"] {
  background: transparent;
  box-shadow: 0 0 0 transparent;
}

a,
a:visited {
  color: indianred;
}

.plog_post p {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
