body{
    background-color:#ff3e51;
    position: relative;
    color: #fff;
    margin: 0;
    overflow: hidden;
}
.first{}
.hb{
    width: 174px;
    height: 193px;
    background: url(hb.png) no-repeat;
    position: absolute;
    top: -193px;
    right: 10px;
    z-index: 1;
    transition-duration: 2s;
    animation-timing-function: ease-in-out;
}
.mie_cover{
    position: fixed;
    bottom: -60px;
    left: 50%;
    z-index: -1;
    opacity: 1;
    transition-duration: 2s;
    animation-timing-function: ease-in-out;
}
.mie{
    background: url(mie.png) no-repeat;
    width: 750px;
    height: 750px;
    margin-left: -375px;
    transition-duration: 2s;
    animation-timing-function:ease-out;
}
.second{
    opacity: 0;
    transition-duration: 2s;
    animation-timing-function:ease-out;
}
.meme{
    width: 200px;
    height: 186px;
    background: url(meme.png) no-repeat;
    margin: 10px 0 0 10px;
}
.h1s{
    width: 200px;
    margin: 0 auto;
}
h1.left{
    text-align: left;
}
h1.right{
    text-align: right;
}
h1.bless{
    margin:0;
    text-align: center;
    font-size: 80px;
    color: #fde36a;
}
