name: Lighthouse
on: push
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v3
        with:
          urls: |
            https://blog.gongbushang.com
      - name: Save results
        uses: actions/upload-artifact@v2
        with:
          name: lighthouse-results
          path: ".lighthouseci" # This will save the Lighthouse results as .json files
